body {
  background-color: #efefef;
  width: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* NAV START */

.badge {
  position: absolute;
  background-color: #6949FF;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 4px;
  margin-left: 0.2px;
  font-size: 9pt;
}

nav {
  justify-content: center;
  display: flex;
  height: 80px;
  width: auto;
  background: #fff;
  /* position: static; */
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

/* SEARCH START */

.search-box {
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 250px;
  height: 30px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #efefef;
  margin-left: 200px;
  margin-top: 5px;
}

.search-box:hover {
  color: white;
  background: #e9e9e9;
  box-shadow: 0 0 0 1px #6949FF;
  cursor: text;
}

.search-box:focus {
  transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px #6949FF;
  padding-left: 15px;
  cursor: text;
  width: 400px;
  border-radius: auto;
  background: #efefef;
  color: #000000;
}

.search-box+label .search-icon {
  color: black;
}

.search-box:hover+label .search-icon {
  color: white;
}

.search-box:focus+label {
  display: none;
}

.search-box:not(:focus) {
  text-indent: -5000px;
}

#search-submit {
  position: relative;
  left: -5000px;
}

.search-icon {
  content: url('../images/search.svg');
  width: 22px;
  position: relative;
  top: 6px;
  left: -115px;
  cursor: text;
}

.search-container label {
  left: -215px;
  position: relative;
  font-size: 10pt;
  color: #8C95A4;
  cursor: text;
}

.search-container label:hover {
  cursor: text;
}

/* SEARCH END */

.navleft {
  width: 40%;
  /* background: #cc1818; */
  padding-top: 20px;
  padding-left: 30px;
  display: inline-block;
}

.navright {
  width: 50%;
  padding: 30px;
}

.navbtns {
  float: right;
  margin-right: 50px;
  margin-left: 0;
  margin-top: 0;
  padding: 0;
  display: flex;
}

.cartnavbtn {
  margin-left: 65px !important;
  list-style: none;
}

.navbtns li {
  margin-left: 100px;
  list-style: none;
}



.navbtns li a {
  text-decoration: none;
  font-size: 0.8em;
  color: #1b1b1d;
  letter-spacing: 1px;
  transition: 0.2s;
}

.navbtns li a:hover {
  color: #6949FF;
}

.navbtns li .activelink {
  /* color: #ec008c; */
  transition: 0.2s ease-out;
  border-bottom: 1px solid #6949FF;
}

.navbtns li .activelink:hover {
  color: #555;
  border-bottom: 1px solid #555;
}

.cart {
  content: url('../images/cart.svg');
  position: absolute;
  /* display: block; */
  margin-top: -2px;
  margin-left: -60px;
  width: 25px;
}

.heart {
  content: url('../images/heart.svg');
  position: absolute;
  /* display: block; */
  margin-top: -2px;
  margin-left: -95px;
  width: 25px;
}

.avatar {
  content: url('../images/avatar.jpg');
  position: absolute;
  /* display: block; */
  margin-top: -4px;
  margin-left: -107px;
  width: 30px;
}

.logo {
  content: url('../images/llama-icon.svg');
  position: absolute;
  transform: scale(1);
  width: 100px;
  /* left:0; */
  /* right:0; */
  margin-left: 25px;
  margin-top: 0;
  /* top: 25px; */
  transition: 0.2s;
}

/* NAV END */

.sec1 {
  width: 100%;
  height: 40px;
  background-color: #6949FF;
  /* background: url('../images/abstract-bg-white1.svg'); */
  padding-left: 0px;
  padding-top: 20px;
  text-align: center;
  background-size: cover;
}

.catlinks {
  text-decoration: none;
  padding: 20px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 12pt;
  color: #ffffff;
  font-weight: 600;
  transition: 0.2s ease-out;

}

.catlinks:hover {
  color: #c5b8ff;
}

.bigbutton {
  height: 50px;
  width: 180px;
  background-color: #fff;
  box-shadow: 0 5px 35px 5px rgb(0 0 0 / 0.08);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  margin-left: 25px;
  transition: 0.2s ease-out;
}

.bigbutton:hover {
  color: #fff;
  background-color: #6949FF;
  transition: 0.2s ease-out;
}


/* SLIDESHOW */

#banner * {
  box-sizing: border-box;
  width: 1700px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 15px;
}

.banner-container {
  /* min-width: 300px; */
  z-index: -1;

}

.slide>img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  /* background: url('../images/mainbannerapril.jpg'); */
}

.prev,
.next {
  cursor: pointer;
  color: #ffffff;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -1.8em;
  padding: 16px;
  border-radius: 0 3px 3px 0;
  transition: all 1s;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  color: #1b1b1d;
  display: inline-block;
  background-color: #aaaaaa;
  opacity: 0.5;
  transition: ease 0.5s;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 5px 2px;
  background-color: #aaaaaa;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.5s;
}

.slide.active,
.dot.active,
.dot:hover {
  background-color: #6949FF;
}

.dots {
  position: relative;
  /* display: inline-block; */
  margin-top: 10px;
  text-align: center;
  /* margin-bottom:1em; */
}

/* PRODUCTS */
.products {
  width: 1700px;
  box-sizing: border-box;
  /* background: #1b1b1d; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.productstitle {
  font-weight: 700;
  font-size: 18pt;
  ;
}

.maintable {
  margin-top: 25px;
}

.maintable a {
  text-decoration: none;
}

.bestdeals {
  text-align: center;
  display: inline-block;
}

.bestdeals-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
}

td {
  width: 300px;
  height: 380px;
  /* border-bottom: 5px solid #aaaaaa; */
  transition: 0.5s;
  margin-left: 15px;
  box-shadow: 0 5px 35px 5px rgb(0 0 0 / 0.05);
  border-radius: 15px;
  padding-top: 25px;
  background-color: #fff;
}

td:hover {
  /* cursor: pointer; */
  /* border-bottom: 5px solid #6949FF; */
  transition: 0.5s;
  z-index: -10;
  box-shadow: 0 5px 35px 5px rgb(0 0 0 / 0.1);

}

.deal-caption {
  text-align: left;
  font-size: 12pt;
  font-weight: 400;
  padding-left: 25px;
  padding-top: 10px;
  padding-right: 15px;
  height: 30px;
  margin-top: 0px;
  color: #1b1b1d;
  /* background-color: #77b900; */
  /* overflow: hidden; */
  /* border: 2px solid #262626; */
}

.price {
  font-size: 14pt;
  font-weight: 700;
  float: left;
  padding-left: 25px;
  margin-top: 18px;
  transition: color 0.5s;
  color: #6949FF;
}

.priceDisc {
  font-size: 14pt;
  font-weight: 700;
  float: left;
  padding-left: 25px;
  margin-top: 18px;
  transition: color 0.5s;
  color: #ccc;
}

table {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
}

tr {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
}

.author {
  /* display: inline-block; */
  text-align: left;
  margin-top: 50px;
  padding-bottom: 10px;
  padding-left: 25px;
  position: absolute;
  font-weight: 400;
  font-size: 10pt;
  color: #000000;
}

.designerspan {
  color: #000000;
  font-weight: 600;

}

.designer {
  font-weight: 400;
  color: #000000;
  transition: .2s;
}

.designer:hover {
  color: #6949FF;
}

.tr-link {
  text-decoration: none;
  color: #6949FF;
}

.browseall {
  color: #8C95A4;
  text-decoration: none;
  font-weight: 400;
  font-size: 11pt;
  margin-left: 25px;
  transition: .2s;
}

.browseall:hover {
  color: #6949FF;
}

.featuredtext {
  float: left;
  margin-left: 0;
  left: 0;
  text-align: left;
  width: 100%;
  margin-top: 35px;
}

/* PRODUCTS SCREEN */
.productpageinfocontainer {
  box-sizing: border-box;
  width: 1700px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;

}

.leftside {
  box-sizing: border-box;
  width: 400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.rightside {
  box-sizing: border-box;
  width: 650px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.largeimg {
  width: 600px;
  height: 600px;
  border-radius: 25px;
  box-shadow: 0 15px 45px 5px rgb(0 0 0 / 0.05);
}

.prodtitle {
  font-weight: 900;
}

.prodcategory {
  font-weight: 600;
  color: #999;
}

.discountedprodprice {
  font-weight: 800;
  color: #6949FF;
  font-size: 26pt;
  margin-top: 50px;

}

.prodprice {
  font-weight: 800;
  color: #c9c9c9;
  font-size: 22pt;
  text-decoration: line-through;
  text-decoration-color: #cc1818;
  text-decoration-thickness: 2.5pt;
  margin-left: 10pt;
}

.discountamount {
  color: #fff;
  font-size: 10pt;
  margin-left: 5pt;
  background-color: #6949FF;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
}

.prodspectitle {
  color: #000000;
  font-weight: 600;
}

.proddesigner {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.2s;
}

.proddesigner:hover {
  color: #6949FF;
}

.sizes-container {
  width: 650px;
  display: flex;
  margin-top: 20px;
}

.sizes-container2 {
  margin-top: 15px;
  width: 650px;
  display: flex;
}

.size-tangle {
  background: #fff;
  width: 100px;
  margin-left: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #C7CBD1;
  font-size: 10pt;
  font-weight: 600;
  transition: all 0.2s;

}

.size-tangle1 {
  background: #fff;
  width: 100px;
  text-align: center;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #C7CBD1;
  font-size: 10pt;
  font-weight: 600;
  transition: all 0.2s;
}

.size-tangle:hover {
  cursor: pointer;
  background: #fff;
  color: #6949FF;
  border: 1px solid #6949FF;
}

.size-tangle:focus {
  cursor: pointer;
  background: #6949FF;
  color: #fff;
  border: 1px solid #6949FF;
}

.size-tangle1:hover {
  cursor: pointer;
  background: #fff;
  color: #6949FF;
  border: 1px solid #6949FF;
}

.size-tangle1:focus {
  cursor: pointer;
  background: #6949FF;
  color: #fff;
  border: 1px solid #6949FF;
}

.add-to-cart {
  width: 550px;
  text-transform: uppercase;
  border: none;
  background-color: #6949FF;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 16pt;
  font-weight: 800;
  letter-spacing: 1pt;
  transition: all 0.2s;
}

.add-to-cart:hover {
  cursor: pointer;
  background: #4f35c2;
}

.instock {
  color: #fff;
  font-size: 10pt;
  margin-left: 5pt;
  background-color: #34A853;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
}

.outofstock {
  color: #fff;
  font-size: 10pt;
  margin-left: 5pt;
  background-color: #cc1818;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
}

.add-to-cart-outofstock {
  width: 550px;
  text-transform: uppercase;
  border: none;
  background-color: #ddd;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 16pt;
  font-weight: 800;
  letter-spacing: 1pt;
  transition: all 0.2s;
}

.checkotherstext {
  font-size: 17pt;
  font-weight: 900;
}

.coolstufflink {
  text-decoration: none;
  transition: all 0.2s;
  color: #6949FF;
}

.coolstufflink:hover {
  color: #4f35c2;
}

.stockcount {
  margin-left: 15px;
  font-weight: 800;
  color: #000
}

.availabletext {
  font-weight: 400;
  color: #000;
}

.alert {
  padding: 5px;
  border: 1px solid transparent;
}

.alert-info {
  color: #000;
  font-size: 12pt;
  font-weight: 700;
  /* background-color: #fff; */
}

.emptycartLink {
  text-decoration: none;
  color: #fff;
  background-color: #6949FF;
  padding: 8px 14px;
  margin-left: 12px;
  border-radius: 7px;
  font-size: 11pt;
  font-weight: 500;
  transition: all 0.5s;
}

.emptycartLink:hover {
  background-color: #4f35c2;
}

.alert-danger {
  color: #fff;
  background-color: #cc1818;
}

/* SPINNER */

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
  animation: rotator 1.4s linear infinite;
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #6949FF;
  }

  25% {
    stroke: #6949FF;
  }

  50% {
    stroke: #6949FF;
  }

  75% {
    stroke: #6949FF;
  }

  100% {
    stroke: #6949FF;
  }
}

@keyframes colors {
  0% {
    stroke: #6949FF;
  }

  25% {
    stroke: #6949FF;
  }

  50% {
    stroke: #6949FF;
  }

  75% {
    stroke: #6949FF;
  }

  100% {
    stroke: #6949FF;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

li {
  list-style: none;
}

.selqty {
  font-weight: 600;
  font-size: 12pt;
}

input,
select,
textarea {
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #C7CBD1;
  border-radius: 6px;
  font-size: 10pt;
  margin-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 40px;
  font-weight: 600;
}

textarea:focus,
select:hover {
  border: 1px solid #6949FF;
  color: #6949FF;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 40px;
  transition: all 0.5s;
}

select:focus {
  border: 1px solid #6949FF;
  color: #000;

  transition: all 0.5s;

}

/* CART */
.cartImg {
  width: 180px;
  height: 180px;
  border-radius: 15px;
  /* box-shadow: 0 15px 45px 5px rgb(0 0 0 / 0.05); */
  /* border: 1px solid #1b1b1d; */
}

.row {
  display: inline-flex;
  border-radius: 15px;
  box-shadow: 0 15px 45px 5px rgb(0 0 0 / 0.05);
  width: 100%;
  margin-top: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  transition: all 0.5s;

  background-color: #fff;
}

.removeBtnArea {
  border-radius: 15px;
  width: 30%;
  transition: all 0.5s;
  margin-right: 50px;
  /* margin-left: -400px; */
  /* background-color: #000; */
  text-align: right;
  float: right;
}

.cartCard {
  border-radius: 10px;
  box-shadow: 0 15px 45px 5px #0000000d;

}

.inlinerow {
  width: 70%;
  display: inline-flex;
}

.cartProdLink {
  text-decoration: none;
  font-weight: 800;
  color: #000;
  font-size: 16pt;
  transition: all 0.5s;
}

.cartProdName {
  margin-top: 10px;
}

.cartselectqty {
  margin-top: 35px;
  margin-left: -10px;
}

.col2 {
  margin-left: 50px;

}

.cartItemPrice {
  margin-top: 35px;
  font-weight: 700;
  font-size: 14pt;
}

.removeBtn {
  border: none;
  border: 1px solid #cc1818;
  color: #cc1818;
  padding: 6px 18px;
  border-radius: 5px;
  /* width: 80px; */
  margin-top: 25px;
  transition: all 0.5s;
  font-size: 9pt;
  font-weight: 600;
  float: right;
  right: 0;
  /* margin-left: 500px; */
  /* text-align: right; */
  position: relative;
  background-color: #fff;

}

.row:hover {
  box-shadow: 0 15px 45px 5px rgb(0 0 0 / 0.1);
}

.cartProdLink:hover {
  color: #6949FF;
}

.removeBtn:hover {
  background-color: #cc1818;
  cursor: pointer;
  color: #fff
}

.cart-listproducts {
  width: 1700px;
  box-sizing: border-box;
  /* background: #1b1b1d; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
}

.col-1 {
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 40px; */
  /* background-color: #555; */
}

.col-2 {
  width: 550px;
  height: 250px;
  margin-left: 50px;
  margin-right: auto;
  background-color: #fff;
  border-radius: 10px;
  padding-top: 25px;
  padding-right: 40px;
  margin-top: 85px;
}

.yourcart {
  font-weight: 900;
  font-size: 18pt;
  /* margin-top: 20px; */
}

.carttotalPriceTitle {
  font-weight: 600;
  font-size: 12pt;
  margin-top: 30px;
}

.carttotalPrice {
  font-weight: 800;
  font-size: 12pt;
  color: #6949FF
}

.carttotalItems {
  font-weight: 600;
  font-size: 12pt;
  margin-top: -5px;
}

.checkoutbtn {
  border: none;
  border-radius: 8px;
  background-color: #6949FF;
  color: #fff;
  padding: 15px;
  font-size: 10pt;
  font-weight: 700;
  margin-top: 20px;
  width: 100%;
  transition: all 0.5s;

}

.checkoutbtn:hover {
  cursor: pointer;
  background-color: #4f35c2;

}

.checkoutbtn:disabled {
  background-color: #ccc;
  cursor: default;
}